<head>
	<link rel="stylesheet" type="text/css" href="my.css">
</head>
<body>
<img src="logo.png" style="width:100px;height:100px;""></img>
	<div class="KUBAS">
		
		<a href="https://www.delfi.lt">Home  |</a>  
		<a href="https://www.lrytas.lt">Product  |</a> 
		<a href="https://www.15m.lt">Company  |</a>
		<a href="">Blog </a>
	</div>
<h1 class="Pirmas"> Mano Pirmas Puslapis </h1>	
<div class="Links">
		<h4>Links:</h4>
		<a href="https://www.delfi.lt">Link 1</a>  
		<br><br>
		<a href="https://www.lrytas.lt">Link 2</a> 
		<br><br>
		<a href="https://www.15m.lt">Link 3</a>
		<br><br>
		<a href="">Link 4</a>
	</div>		
	<table border="1" width="80%" id="tab">
		<tr>
			<td><p class="parag">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
			</p></td>
		</tr>
	</table>

	<h2>Contact us:</h2>
	<table class="contact" width="500" id="tab">
	<tr>
		<td>First name:</td>
		<td>Last name:</td>
		<td>E-mail:</td>		
	</tr>
	<tr>
		<td><input type="text" name="firstname"></td>
		<td><input type="text" name="lastname"></td>
		<td><input type="text" name="e-mail"></td>
		
	</tr>
	</table>
	<br>
<form class="com" action="/action_page.php">
  <textarea name="message" rows="10" cols="80">Galite palikti savo komentara.</textarea>
  <br>
  <input type="submit">
</form>

	<div class="mano" style="margin-left: 200px;">
<form action="/action_page.php">
	First name:<br>
	<input type="text" name="firstname">
	<br>
	Last name:<br>
	<input type="text" name="lastname">
	<br>
	E-mail:<br>
	<input type="text" name="e-mail">
	<br><br>
	</form>
	</div>
</body>