
#as{
	background-color: green;
	padding-left: : 50px;
}
.kubas{
	float: right;
    margin: 0 0 10px 10px;
}
.Links{
	float: right;
    margin: 0 100 10px 10px;
}
.com{
	padding-left: 10%;
}
.contact{
	padding-left: 20%
}
