h1{
	color:blue;
}


h4{
	color: green;
}
#as{
	background-color: green;
	padding-left: : 50px;
}
#tab{
	background-color: blue;
}
.kubas {
	padding-top: 50px;
	height: 50px;
	width: 50px;
	background-color: red;
}
.parag{
	background-color: #2EFE2E;
	margin: 100px;
	
	
}